{template 'common/header'}
{template 'account/account-header'}
	<div id="js-account-manage-wxapp" ng-controller="AccountManageWxappCtrl" ng-cloak>
		<!--版本管理-->
		{if $account['wxapp_type'] == WXAPP_MULTI}
		<div class="version-management">
			<div class="text-right">
				<a href="{php echo url('wxapp/post', array('uniacid' => $uniacid))}" class="btn btn-primary">新建版本</a>
			</div>
			<div class="wxapp-version-list clearfix">
				{loop $wxapp_version_lists $list}
				<div class="item">
					<div class="version-num">
						V{$list['version']}
					</div>
					<div class="version-img">
						<img src="./resource/images/173.png"/>
					</div>
					<div class="cover-dark">
						<a href="{php echo url('wxapp/version/edit', array('uniacid' => $list['uniacid'], 'multiid' => $list['multiid'], 'version_id' => $list['id']))}" class="manage-fa"><i class="fa fa-angle-right"></i></a>
						<a href="{php echo url('wxapp/version/edit', array('uniacid' => $list['uniacid'], 'multiid' => $list['multiid'], 'version_id' => $list['id']))}" class="manage">管理</a>
						<a href="{php echo url('wxapp/version/download', array('uniacid' => $list['uniacid'], 'version_id' => $list['id']))}" class="manage-fa-down" title="下载"><i class="wi wi-down-sign"></i></a>
						<a href="{php echo url('wxapp/version/download', array('uniacid' => $list['uniacid'], 'version_id' => $list['id']))}" class="manage-down" title="下载">下载</a>
						<a href="{php echo url('account/post-version/delete', array('uniacid' => $list['uniacid'], 'id' => $list['id']))}" class="manage-fa-del"><i class="wi wi-delete2"></i></a>
						<a href="{php echo url('account/post-version/delete', array('uniacid' => $list['uniacid'], 'id' => $list['id']))}" class="manage-del">删除</a>
					</div>
				</div>
				{/loop}
			</div>
		</div>
		{/if}
		<!--end 版本管理-->
		<!-- 可用小程序模块 -->
		{if $account['wxapp_type'] == WXAPP_SINGLE}
		<table class="table we7-table table-hover">
			<col width="80px"/>
			<col width=""/>
			<col width="170px"/>
			<tr>
				<th colspan="3" class="text-left we7-padding-right"><span>关联小程序模块</span></th>
			</tr>
			<tr ng-if="current_module_info">
				<td class="vertical-middle">
					<img src="{{current_module_info.logo}}">
				</td>
				<td class="text-left">
					<div class="we7-form reply-item-keyword">
						<div class="form-inline">
							<label for="" class="control-label col-sm-2">模块名：</label>
							<div class="form-controls form-control-static">
								<span class="keyword-tag" ng-bind="current_module_info.title"></span>
							</div>
							<div class="form-inline">
							<label for="" class="control-label col-sm-2">版本：</label>
							<div class="form-controls form-control-static">
								<span ng-bind="current_module_info.version"></span>
							</div>
						</div>
					</div>
				</td>
				<td class="vertical-middle text-left">
					<div class="link-group">
						<a href="{php echo url('account/post-version/get_single_package', array('uniacid' => $account['uniacid']))}">下载</a>
						<a href="javascript:;" ng-click="showWxModules()">修改</a>
						<a href="javascript:;" class="del" ng-click="delWxModule()">删除</a>
					</div>
				</td>
			</tr>
			<tr ng-if="!current_module_info">
				<td colspan="3" class="we7-padding" ng-click="showWxModules()" ng-style="{'cursor': 'pointer'}">
					<span class="font-lg">+</span>
				</td>
			</tr>
		</table>
		<div class="modal fade" id="module_wxapp"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog we7-modal-dialog" style="width:800px">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title">选择小程序</h4>
					</div>
					<div class="modal-body">
						<div class="panel-body we7-padding">
							<div class="row">
								<div class="col-sm-2 text-center we7-margin-bottom select-module-wxapp" ng-repeat="module in wxapp_modules" ng-if="wxapp_modules">
									<a href="javascript:;" ng-click="selectedWxModule(module, $event)">
										<img src="{{module.logo}}" style="width:50px;height:50px;">
										<p class="text-over">{{module.title}}</p>
									</a>
									<span id="module-{{module.name}}" class="selected hide" style="position:absolute;width:82%;height:100%;left:10px;top:0;opacity:0.8;cursor:pointer;background:#e7e8eb; vertical-align:middle;font-size:30px"><i class="wi wi-right-sign color-green" style="margin-top:25px"></i></span>
								</div>
								<div class="text-center" ng-if="!wxapp_modules">
									<span>暂无可用模块</span>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer" ng-if="wxapp_modules">
						<button type="button" class="btn btn-primary" ng-click="addWxModules()">确定</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					</div>
				</div>
			</div>
		</div>
		{/if}
		<!--end 可用小程序模块 -->
	</div>
</div>
<script>
	angular.module('accountApp').value('config', {
		'account': {php echo !empty($account) ? json_encode($account) : 'null'},
		'wxapp_version_lists': {php echo !empty($wxapp_version_lists) ? json_encode($wxapp_version_lists) : 'null'},
		'wxapp_modules' : {php echo !empty($wxapp_modules) ? json_encode($wxapp_modules) : 'null'},
		'current_module_info': {php echo !empty($current_module_info) ? json_encode($current_module_info) : 'null'},
		'links': {
			'editmodule': "{php echo url('account/post-version/single_change_module', array('acid' => $account['acid'], 'uniacid' => $account['uniacid']))}",
			'delmodule': "{php echo url('account/post-version/single_del_module', array('acid' => $account['acid'], 'uniacid' => $account['uniacid']))}",
		},
	});
	angular.bootstrap($('#js-account-manage-wxapp'), ['accountApp']);
</script>
{template 'common/footer'}