{template 'common/header'}
<div class="we7-page-title">{$account_typename}管理</div>
<ul class="we7-page-tab">
	<li class="active"><a href="{if $account_type == ACCOUNT_TYPE_APP_NORMAL}{php echo url ('account/manage', array('type' => 'wxapp'))}{else}{url 'account/manage'}{/if}">{$account_typename}列表</a></li>
	{if $_W['role'] == ACCOUNT_MANAGE_NAME_OWNER || $_W['role'] == ACCOUNT_MANAGE_NAME_FOUNDER}
	<li><a href="{if $account_type == ACCOUNT_TYPE_APP_NORMAL}{php echo url ('account/recycle', array('type' => 'wxapp'))}{else}{url 'account/recycle'}{/if}">{$account_typename}回收站</a></li>
	{/if}
</ul>
<div class="clearfix we7-margin-bottom">
	{if !$_W['isfounder'] && !empty($account_info['uniacid_limit'])}
		<div class="alert alert-warning">
			温馨提示：
			<i class="fa fa-info-circle"></i>
			Hi，<span class="text-strong">{$_W['username']}</span>，您所在的会员组： <span class="text-strong">{$account_info['group_name']}</span>，
			账号有效期限：<span class="text-strong">{php echo date('Y-m-d', $_W['user']['starttime'])} ~~ {if empty($_W['user']['endtime'])}无限制{else}{php echo date('Y-m-d', $_W['user']['endtime'])}{/if}</span>，
			可创建 <span class="text-strong">{$account_info['maxaccount']} </span>个公众号，已创建<span class="text-strong"> {$account_info['uniacid_num']} </span>个，还可创建 <span class="text-strong">{$account_info['uniacid_limit']} </span>个公众号。
		</div>
	{/if}
	<form action="" class="form-inline  pull-left" method="get">
		<input type="hidden" name="c" value="account">
		<input type="hidden" name="a" value="manage">
		<input type="hidden" name="type" value="{if $account_type == ACCOUNT_TYPE_APP_NORMAL}wxapp{else}{/if}">
		<div class="input-group form-group" style="width: 400px;">
			<input type="text" name="keyword" value="{$_GPC['keyword']}" class="form-control" placeholder="搜索关键字"/>
			<span class="input-group-btn"><button class="btn btn-default"><i class="fa fa-search"></i></button></span>
		</div>
	</form>
	{if !empty($account_info['uniacid_limit']) || $_W['isfounder']}
	<div class="pull-right">
		{if $account_type == ACCOUNT_TYPE_APP_NORMAL}
		<a href="{php echo url('account/post-step', array('step' => '2', 'type' => ACCOUNT_TYPE_APP_NORMAL))}" class="btn btn-primary we7-padding-horizontal">添加小程序</a>
		{else}
		<a href="{url 'account/post-step'}" class="btn btn-primary we7-padding-horizontal">添加公众号</a>
		{/if}
	</div>
	{/if}
</div>
<table class="table we7-table table-hover vertical-middle" id="js-system-account-display" ng-controller="SystemAccountDisplay" ng-cloak>
	<col width="85px" />
	<col />
	<col width="208px" />
	{if $account_type != ACCOUNT_TYPE_APP_NORMAL}
	<col width="100px"/>
	{/if}
	<col width="245px" />
	<tr>
		<th colspan="2" class="text-left">{$account_typename}</th>
		<th>有效期</th>
		{if $account_type != ACCOUNT_TYPE_APP_NORMAL}
		<th>短信数(条)</th>
		{/if}
		<th class="text-left">操作</th>
	</tr>
	<tr class="color-gray" ng-repeat="list in lists">
		<td class="text-left">
			<img ng-src="{{list.thumb}}" class="img-responsive">
		</td>
		<td class="text-left">
			<p class="color-dark" ng-bind="list.name"></p>
			{if $account_type != ACCOUNT_TYPE_APP_NORMAL}
			<span class="color-gray" ng-if="list.level == 1">类型：普通订阅号</span>
			<span class="color-gray" ng-if="list.level == 2">类型：普通服务号</span>
			<span class="color-gray" ng-if="list.level == 3">类型：认证订阅号</span>
			<span class="color-gray" ng-if="list.level == 4">类型：认证服务号</span>
			<span class="color-red" ng-if="list.isconnect == 0" data-toggle="tooltip" data-placement="right" title="公众号接入状态显示“未接入”解决方案：进入微信公众平台，依次选择: 开发者中心 -> 修改配置，然后将对应公众号在平台的url和token复制到微信公众平台对应的选项，公众平台会自动进行检测"><i class="wi wi-error-sign"></i>未接入</span>
			<span class="color-green" ng-if="list.isconnect == 1"><i class="wi wi-right-sign"></i>已接入</span>
			{/if}
		</td>
		<td>
			<p ng-bind="list.setmeal.timelimit"></p>
		</td>
		{if $account_type != ACCOUNT_TYPE_APP_NORMAL}
		<td><p ng-bind="list.sms"></p></td>
		{/if}
		<td class="text-left vertical-middle">
			<div class="link-group">
				<a ng-href="{{links.switch}}uniacid={{list.uniacid}}">进入{$account_typename}</a>
				{if $_W['role'] == ACCOUNT_MANAGE_NAME_FOUNDER || $_W['role'] == ACCOUNT_MANAGE_NAME_OWNER || $_W['role'] == ACCOUNT_MANAGE_NAME_MANAGER}
					<a ng-href="{{links.post}}&acid={{list.acid}}&uniacid={{list.uniacid}}" ng-show="list.role == 'manager' || list.role == 'owner' || list.role == 'founder'">管理设置</a>
					{if $_W['role'] != ACCOUNT_MANAGE_NAME_MANAGER}
					<a ng-href="{{links.del}}&acid={{list.acid}}&uniacid={{list.uniacid}}" ng-show="list.role == 'owner' || list.role == 'founder'" onclick="if(!confirm('确认放入回收站吗？')) return false;">停用</a>
					{/if}
				{/if}
			</div>
		</td>
	</tr>
</table>
<div class="pull-right">
	{$pager}
</div>
<script>
	$(function(){
		$('[data-toggle="tooltip"]').tooltip();
	});
	angular.module('accountApp').value('config', {
		lists: {php echo !empty($list) ? json_encode($list) : 'null'},
		links: {
			switch: "{php echo url('account/display/switch')}",
			post: "{php echo url('account/post', array('account_type' => ACCOUNT_TYPE_APP_NORMAL))}",
			del: "{php echo url('account/manage/delete', array('type' => ACCOUNT_TYPE_APP_NORMAL))}",
		}
	});
	angular.bootstrap($('#js-system-account-display'), ['accountApp']);
</script>
{template 'common/footer'}