*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.idea/**/*
*.orig

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

data/**/*
attachment/**/*
!attachment/images/global/**/*
addons/**/*
.tags
deployment.properties
.tags_sorted_by_file
web/resource/components/**/*
web/resource/js/**/*
framework/builtin/core/module.cer
app/resource/components/**/*
app/resource/js/**/*
we7/**/*
vendor/**/*
/.env
/.php_cs.cache
/composer.lock
./app/resource/

/web/source/test
/xiongzhang_api.php
/xiongzhang_index.php
