{template 'common/header'}
<div class="we7-page-title">
	参数设置
</div>
<ul class="we7-page-tab">
	<li>
		<a href="{php echo url('profile/payment')}">支付参数</a>
	</li>
	<li{if $do == 'oauth'} class="active"{/if}>
	<a href="{php echo url('profile/passport')}">借用权限</a>
	</li>
	<li>
		<a href="{php echo url('profile/tplnotice')}">微信通知设置</a>
	</li>
	<li>
		<a href="{php echo url('profile/notify')}">邮件通知参数</a>
	</li>
	<li{if $do == 'fans_sync'} class="active"{/if}>
	<a href="{php echo url('profile/passport/fans_sync')}">粉丝同步设置</a>
	</li>
	<li{if $do == 'uc_setting'} class="active"{/if}>
		<a href="{php echo url('profile/passport/uc_setting')}">uc站点整合</a>
	</li>
</ul>

{if $do == 'oauth'}

<div id="js-profile-passport" ng-controller="oauthCtrl" ng-cloak>
	<table class="table we7-table table-hover table-form">
		<col width="140px " />
		<col />
		<col width="100px" />
		<tr>
			<th class="text-left" colspan="3">公众平台oAuth设置</th>
		</tr>
		<tr>
			<td class="text-left">
				选择公众号
			</td>
			<td class="text-left">
				{{ oauthtitle }}
			</td>
			<td class="text-left ">
				<a href="javascript:;" class="color-default" data-toggle="modal" data-target="#oauth">修改</a>
			</td>
		</tr>
		<tr>
			<td class="text-left">
				oAuth独立域名
			</td>
			<td class="text-left">
				{{ originalHost }}
			</td>
			<td class="text-left">
				<a href="javascript:;" class="color-default" data-toggle="modal" data-target="#host">修改</a>
			</td>
		</tr>
	</table>
	<div class="modal fade" id="oauth" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="we7-modal-dialog modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<div class="modal-title">选择公众号</div>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<select ng-model="oauthAccount" class="we7-select">
							<option value="" ng-selected="oauthAccount == ''">请选择公众号</option>
							<option value="{{ key }}" ng-selected="key == oauthAccount" ng-repeat="(key,account) in oauthAccounts track by key">{{ account }}</option>
						</select>
						<span class="help-block">在微信公众号请求用户网页授权之前，开发者需要先到公众平台网站的【开发者中心】<b>网页服务</b>中配置授权回调域名。<a href="http://www.we7.cc/manual/dev:v0.6:qa:mobile_redirect_url_error" target="_black" class="color-default">查看详情</a></span>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveOauth('oauth')">确定</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="host" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="we7-modal-dialog modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<div class="modal-title">oAuth独立域名</div>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<input type="text"  name="host" ng-model="oauthHost" class="form-control" placeholder="oAuth独立域名">
						<span class="help-block">适用于您的微站或是活动有多个域名的情况下，由此域名做统一的oauth授权用。例如：http://www.baidu.com 注意：结尾没有 / </span>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveOauth('oauth')">确定</button>
					<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="recover()">取消</button>
				</div>
			</div>
		</div>
	</div>
	<table class="table we7-table table-hover table-form">
		<col width="140px " />
		<col />
		<col width="100px" />
		<tr>
			<th class="text-left" colspan="3">借用 JS 分享设置</th>
		</tr>
		<tr>
			<td class="text-left">
				选择公众号
			</td>
			<td class="text-left">
				{{ jsOauthtitle }}
			</td>
			<td class="text-left ">
				<a href="javascript:;" class="color-default" data-toggle="modal" data-target="#jsauth_acid">修改</a>
			</td>
		</tr>
	</table>
	<div class="modal fade" id="jsauth_acid" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="we7-modal-dialog modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<div class="modal-title">选择公众号</div>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<select name="jsauth_acid" ng-model="jsOauthAccount" class="we7-select">
							<option value="{{ key }}" ng-repeat="(key,account) in jsOauthAccounts track by key">{{ account }}</option>
						</select>
						<span class="help-block">在系统中使用微信分享接口前，开发者需要先到公众平台网站的【公众号设置】 / 【功能设置】中配置 【JS 接口安全域名】。<a href="http://www.we7.cc/manual/dev:v0.6:qa:jsauth" target="_black">查看详情</a></span>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveOauth('jsoauth')">确定</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	angular.module('profileApp').value('config', {
		'oauthAccount' : "{$oauth['account']}",
		'oauthHost' : "{$oauth['host']}",
		'jsOauth' : "{$jsoauth}",
		'oauthAccounts' : {php echo json_encode($oauth_accounts)},
		'jsOauthAccounts' : {php echo json_encode($jsoauth_accounts)},
		'oauth_url' : "{php echo url('profile/passport/save_oauth')}",
		'get_setting_url' : "{php echo url('profile/passport/get_setting')}"
	});
	angular.bootstrap($('#js-profile-passport'), ['profileApp']);
</script>

{elseif $do == 'fans_sync'}

<div id="js-profile-sync" ng-controller="syncCtrl" ng-cloak>
	<table class="table we7-table table-hover table-form">
		<col width="140px " />
		<col />
		<col width="140px" />
		<tr>
			<th class="text-left" colspan="3">粉丝同步</th>
		</tr>
		<tr>
			<td >是否开启</td>
			<td>
				{{ syncSetting == 1 ? '开启' : '关闭' }}
			</td>
			<td class="text-center">
				<label>
					<input name="" class="form-control" type="checkbox"  style="display: none;">
					<div ng-class="syncSetting == 1 ? 'switch switchOn' : 'switch'"  ng-click="setSync()"></div>
				</label>
			</td>
		</tr>
	</table>

</div>

<script>
	angular.module('profileApp').value('config', {
		'syncSetting' : "{$sync_setting}",
		'saveSyncSetting' : "{php echo url('profile/passport/fans_sync', array('operate' => 'save_setting'))}"
	});
	angular.bootstrap($('#js-profile-sync'), ['profileApp']);
</script>

{elseif $do == 'uc_setting'}

<div class="main js-profile-uc" ng-controller="ucCtrl">
	<form id="form1" action="{php echo url('profile/passport/uc_setting')}" method="post" class="we7-form form ng-cloak" >
		<div class="panel panel-default">
			<div class="panel-heading">
				设置UC参数
			</div>
			<div class="panel-body">
				<div class="alert alert-info">
					<p>
						使用UC能够整合其他系统的会员信息. 如果你不清楚此功能的作用, 请咨询您的技术人员. <br />
						1. 在UC系统中增加新的应用, 并填写[应用接口文件名称]为: uc.php?uniacid={$_W['uniacid']} <br />
						2. 在下方启用UC, 并按照UC系统中新增的应用参数填写
					</p>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">启用UC</label>
					<div class="col-sm-8">
							
						<label class="radio-inline">
							<input type="radio" id="status1" name="status" ng-model="uc.status" value="1"/>
						开启
						</label>
							
						<label class="radio-inline">
							<input type="radio" id="status0" name="status" ng-model="uc.status" value="0"/>
							关闭
						</label>
						<span class="help-block">使用UC能够整合其他系统的会员信息. 如果你不清楚此功能的作用, 请咨询您的技术人员.</span>
					</div>
				</div>
				<div  ng-show="uc.status == '1'">
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">快速录入</label>
						<div class="col-sm-8 col-xs-12">
							<textarea class="form-control" rows="6" id="textarea"></textarea>
							<span class="help-block">你可以直接复制UC中的[应用的 UCenter 配置信息]来快速搞定配置参数.</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
						<div class="col-sm-8 col-xs-12">
							<input id="submit" type="button" class="btn btn-primary" value="一键录入">
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">通行证名称</label>
						<div class="col-sm-8 col-xs-12">
							<input type="text" name="title" class="form-control" value="{{uc.title}}" autocomplete="off">
							<span class="help-block">请输入你的通行证名称, 方便与UC系统联系.比如: 你的论坛名字</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">应用ID</label>
						<div class="col-sm-8 col-xs-12">
							<input type="text" name="appid" class="form-control" value="{{uc.appid}}" autocomplete="off">
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">通信密钥</label>
						<div class="col-sm-8 col-xs-12">
							<input type="text" name="key" class="form-control" value="{{uc.key}}" autocomplete="off"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">UCenter字符集</label>
						<div class="col-sm-8 col-xs-12">
							<input type="text" name="charset" class="form-control" value="{{uc.charset}}" autocomplete="off"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">通信方式</label>
						<div class="col-sm-8 col-xs-12">
							<label class="radio-inline">
								<input type="radio" name="connect" ng-model="uc.connect" value="mysql"/>
								MYSQL方式
							</label>
							
							<label class="radio-inline">
								<input type="radio" name="connect" ng-model="uc.connect" value="http"/>
								远程方式HTTP
							</label>
						</div>
					</div>
					<div class="tb mysql" ng-show="uc.connect == 'mysql';">
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">数据库主机</label>
							<div class="col-sm-8 col-xs-12">
								<input type="text" name="dbhost" class="form-control" value="{{uc.dbhost}}" autocomplete="off">
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">数据库用户名</label>
							<div class="col-sm-8 col-xs-12">
								<input type="text" name="dbuser" class="form-control" value="{{uc.dbuser}}" autocomplete="off"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">数据库密码</label>
							<div class="col-sm-8 col-xs-12">
								<input type="text" name="dbpw" class="form-control" value="{{uc.dbpw}}" autocomplete="off"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">数据库名称</label>
							<div class="col-sm-8 col-xs-12">
								<input type="text" name="dbname" class="form-control" value="{{uc.dbname}}" autocomplete="off"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">数据库字符集</label>
							<div class="col-sm-8 col-xs-12">
								<input type="text" name="dbcharset" class="form-control" value="{{uc.dbcharset}}" autocomplete="off"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">表前缀</label>
							<div class="col-sm-8 col-xs-12">
								<input type="text" name="dbtablepre" class="form-control" value="{{uc.dbtablepre}}" autocomplete="off"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">是否持久连接</label>
							<div class="col-sm-8 col-xs-12">
									
								<label class="radio-inline">
									<input type="radio" name="dbconnect" value="1" ng-model="uc.dbconnect"/>
								是
								</label>
								<label class="radio-inline">
									<input type="radio" name="dbconnect" value="0" ng-model="uc.dbconnect"/>
								否
								</label>
							</div>
						</div>
					</div>
					<div class="tb http" ng-show="uc.connect != 'mysql';">
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">服务端URL地址</label>
							<div class="col-sm-8 col-xs-12">
								<input type="text" name="api" class="form-control" value="{{uc.api}}" autocomplete="off"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">服务端IP</label>
							<div class="col-sm-8 col-xs-12">
								<input type="text" name="ip" class="form-control" value="{{uc.ip}}" autocomplete="off"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
	</form>
</div>
<script type="text/javascript">
	angular.module('profileApp').value('config', {
		'uc' : {php echo json_encode($uc)}
	});
	angular.bootstrap($('.js-profile-uc'), ['profileApp']);
	//处理快速录入
</script>

{/if}
{template 'common/footer'}

