{template 'common/header'}
{if $do == 'display'}
<div class="js-system-module_group" ng-controller="moduleGroupCtrl" ng-cloak>
	<div class="combo-list">
		<div class="we7-page-title">
			应用权限套餐
		</div>

		<ul class="we7-page-tab">
			<li class="active"><a href="套餐应用列表.html">应用权限套餐列表  </a></li>
			<li ><a href="">销售记录</a></li>
		</ul>

		<div class="we7-page-search clearfix">
			<form action="" method="get" class="pull-left">
				<input type="hidden" name="c" value="system">
				<input type="hidden" name="a" value="module_group">
				<input type="hidden" name="do" value="display">
				<div class="input-group we7-margin-bottom">
					<input class="form-control" name="name" value="{$_GPC['name']}" type="text" placeholder="" >
					<span class="input-group-addon"><button class="button"><i class="fa fa-search"></i></button></span>
				</div>
			</form>
			<div class="pull-right">
				<a href="{php echo url('system/module_group/post')}" class="btn btn-primary">+添加应用权限套餐</a>
			</div>
		</div>
		<table class="table we7-table vertical-middle">

			<col width="190px" />
			<col />
			<col width="140px" />
			<col width="275px" />
			<col width="210px" />
			<tr>
				<th class="text-left">套餐名称</th>
				<th>应用个数</th>
				<th>模块个数</th>
				<th>用户权限组</th>
				<th class="text-left">操作</th>
			</tr>
			{loop $modules_group_list $module_group}
			{if $module_group['name'] == '基础服务'}
			<tr >
				<td class="text-left">基础服务</td>
				<td>基础回复模块</td>
				<td>微站默认模板</td>
				<td></td>
				<td class="text-left">
				</td>
			</tr>
			{elseif $module_group['name'] == '所有服务'}
			<tr >
				<td class="text-left">所有服务</td>
				<td>系统所有模块</td>
				<td>系统所有模板</td>
				<td></td>
				<td class="text-left">
				</td>
			</tr>
			{else}
			<tr >
				<td class="text-left">{$module_group['name']}</td>
				<td>{php echo count($module_group['modules'])}</td>
				<td>{php echo count($module_group['templates'])}</td>
				<td>超级VIP</td>
				<td class="text-left">
					<div class="link-group">
						<a href="javascript:;" class="color-default js-unfold" data-toggle="table-collapse" data-target="toggle-{$module_group['id']}" ng-click="changeText($event)">展开</a>
						<a href="{php echo url('system/module_group/post', array('id' => $module_group['id']))}">编辑套餐</a>
						<a href="{php echo url('system/module_group/delete', array('id' => $module_group['id']))}" onclick="return confirm('确定要删除套餐吗？')">删除</a>
					</div>
				</td>
			</tr>
			<tr class="collapse bg-light-gray" aria-expanded="true" data-id="toggle-{$module_group['id']}">
				<td colspan="5">
					<div class="col-sm-1 color-gray text-left we7-padding-none">应用</div>
					<div class="col-sm-11">
						{loop $module_group['modules'] $module}
						<div class="col-sm-3 text-left">
							<a href=""><img style="height: 50px;width: 50px;" src="{if file_exists('../framework/addons/' . $module['name'] . '/icon-custom.jpg')}{php echo tomedia('../framework/addons/' . $module['name'] . '/icon-custom.jpg')}{else}{php echo tomedia('../framework/addons/' . $module['name'] . '/icon.jpg')}{/if}" alt="{$module['title']}" title="{$module['title']}"><span class="apply-name">{$module['title']}</span></a>
						</div>
						{/loop}
					</div>
				</td>
			</tr>
			<tr class="collapse bg-light-gray" aria-expanded="true" data-id="toggle-{$module_group['id']}">
				<td colspan="5">
					<div class="col-sm-1 color-gray text-left we7-padding-none">模板</div>
					<div class="col-sm-11">
						{loop $module_group['templates'] $template}
						<div class="col-sm-3 text-left">
							<a href="">{$template['title']}</a>
						</div>
						{/loop}
					</div>
				</td>
			</tr>
			{/if}
			{/loop}
		</table>
	</div>
</div>
<script>
	angular.bootstrap($('.js-system-module_group'), ['moduleApp']);
	$('[data-toggle="table-collapse"]').on('click',function(){
		var id = '[data-id="'+$(this).data('target')+'"]';
		$(id).collapse('toggle');
	});
</script>
{elseif $do == 'post'}
<div class="js-modulegroup-post" ng-controller="moduleGroupPostCtrl" ng-cloak>
	<div class="combo-list-add">
		<ol class="breadcrumb we7-breadcrumb">
			<a href=""><i class="fa fa-chevron-circle-left"></i> </a>
			<li>
				套餐应用列表
			</li>
			<li>
				添加套餐应用列表
			</li>
		</ol>
		<div class="we7-form">
			<div class="form-group">
				<label for="" class="control-label">应用套餐名称</label>
				<div class="form-controls">
					<input type="text" ng-model="moduleGroup.name" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<label for="" class="control-label">选择用户权限组</label>
				<div class="form-controls">
					<select name="" class="we7-select">
						<option value="不选择">不选择</option>
					</select>
				</div>
			</div>
		</div>
		<div class="panel we7-panel">
			<div class="panel-heading">
				选择应用
			</div>
			<div class="panel-body we7-padding">
				<div class="row">
					<div class="col-sm-2 text-left" ng-repeat="module in moduleGroup.modules">
						<a href=""><img src="{{ module.logo }}" alt="" style="width:50px;height:50px;">{{ module.title }}</a>
						<span class="del bg-default">删除</span>
					</div>
					<div class="col-sm-2 we7-input-img">
						<img src="">
						<a href="javascript:;" class="input-addon"><span>+</span></a>
						<input type="hidden" name="thumb">
						<div class="cover-dark">
							<a href="" class="cut">更换</a>
							<a href="" class="del"><i class="fa fa-times text-danger"></i></a>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="panel we7-panel">
			<div class="panel-heading">
				选择模板
			</div>
			<div class="panel-body we7-padding">
				<div class="row">
					<div class="col-sm-2 text-left">
						<a href=""><img src="../../../pros/web/resource/images/11.png" alt="">互粉互赚</a>
						<span class="del bg-default">删除</span>
					</div>
					<div class="col-sm-2 we7-input-img">
						<img src="">
						<a href="javascript:;" class="input-addon"><span>+</span></a>
						<input type="hidden" name="thumb">
						<div class="cover-dark">
							<a href="" class="cut">更换</a>
							<a href="" class="del"><i class="fa fa-times text-danger"></i></a>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>
</div>
<script>
	angular.module('moduleApp').value('config', {
		'moduleGroup' : {php echo json_encode($module_group)}
	});
	angular.bootstrap($('.js-modulegroup-post'), ['moduleApp']);
	$('[data-toggle="table-collapse"]').on('click',function(){
		var id = '[data-id="'+$(this).data('target')+'"]';
		$(id).collapse('toggle');
	});
</script>
{/if}
{template 'common/footer'}