{template 'common/header'}
{if $do == 'display'}
<div class="js-system-module_group" ng-controller="moduleGroupCtrl" ng-cloak>
	<div class="combo-list">
		<div class="we7-page-title">
			应用权限套餐
		</div>

		<ul class="we7-page-tab">
			<li class="active"><a href="{php echo url('system/module-group/display') }">应用权限套餐列表  </a></li>
		</ul>

		<div class="we7-page-search clearfix">
			<form action="" method="get" class="we7-form">
				<div class="form-group we7-padding-none col-sm-4 pull-left">
					<input type="hidden" name="c" value="system">
					<input type="hidden" name="a" value="module-group">
					<input type="hidden" name="do" value="display">
					<div class="input-group">
						<input class="form-control" name="name" value="{$_GPC['name']}" type="text" placeholder="名称" >
						<span class="input-group-btn"><button class="btn btn-default"><i class="fa fa-search"></i></button></span>
					</div>
				</div>
			</form>
			<div class="pull-right">
				<a href="{php echo url('system/module-group/post')}" class="btn btn-primary">+添加应用权限套餐</a>
			</div>
		</div>
		<table class="table we7-table table-hover vertical-middle">

			<col width="190px" />
			<col />
			<col width="140px" />
			<col width="275px" />
			<col width="210px" />
			<tr>
				<th class="text-left">套餐名称</th>
				<th>应用个数</th>
				<th>模块个数</th>
				<th></th>
				<th class="text-left">操作</th>
			</tr>
			{loop $modules_group_list $module_group}
			<tr >
				<td class="text-left">{$module_group['name']}</td>
				<td>{php echo count($module_group['modules'])}</td>
				<td>{php echo count($module_group['templates'])}</td>
				<td></td>
				<td class="text-left">
					<div class="link-group">
						<a href="javascript:;" class="color-default js-unfold" data-toggle="table-collapse" data-target="toggle-{$module_group['id']}" ng-click="changeText($event)">展开</a>
						<a href="{php echo url('system/module-group/post', array('id' => $module_group['id']))}">编辑套餐</a>
						<a href="{php echo url('system/module-group/delete', array('id' => $module_group['id']))}" onclick="return confirm('确定要删除套餐吗？')">删除</a>
					</div>
				</td>
			</tr>
			<tr class="collapse bg-light-gray" aria-expanded="true" data-id="toggle-{$module_group['id']}">
				<td colspan="5">
					<div class="col-sm-1 color-gray text-left we7-padding-none">应用</div>
					<div class="col-sm-11">
						{loop $module_group['modules'] $module}
						<div class="col-sm-3 text-left text-over">
							<img src="{$module['logo']}" style="width:50px;height:50px;">
							<a href="">{$module['title']}</a>
						</div>
						{/loop}
					</div>
				</td>
			</tr>
			<tr class="collapse bg-light-gray" aria-expanded="true" data-id="toggle-{$module_group['id']}">
				<td colspan="5">
					<div class="col-sm-1 color-gray text-left we7-padding-none">模板</div>
					<div class="col-sm-11">
						{loop $module_group['templates'] $template}
						<div class="col-sm-3 text-left  text-over">
							<i class="glyphicon glyphicon-th-large"></i>
							<a href="">{$template['title']}</a>
						</div>
						{/loop}
					</div>
				</td>
			</tr>
			{/loop}
		</table>
	</div>
</div>
<script>
	angular.bootstrap($('.js-system-module_group'), ['moduleApp']);
	$('[data-toggle="table-collapse"]').on('click',function(){
		var id = '[data-id="'+$(this).data('target')+'"]';
		$(id).collapse('toggle');
	});
</script>
{elseif $do == 'post'}
<div class="js-modulegroup-post" ng-controller="moduleGroupPostCtrl" ng-cloak>
	<div class="combo-list-add">
		<ol class="breadcrumb we7-breadcrumb">
			<a href="{php echo url('system/module-group/')}"><i class="wi wi-back-cricle"></i> </a>
			<li>
				套餐应用列表
			</li>
			<li>
				添加套餐应用列表
			</li>
		</ol>
		<div class="we7-form">
			<div class="form-group">
				<label for="" class="control-label col-sm-3">应用套餐名称</label>
				<div class="form-controls col-sm-8">
					<input type="text" ng-model="moduleGroup.name" class="form-control"/>
				</div>
			</div>
		</div>
		<div class="panel we7-panel">
			<div class="panel-heading">
				选择应用
			</div>
			<div class="panel-body we7-padding">
				<div class="row">
					<div class="col-sm-2 text-left" ng-repeat="module in groupHaveModule" style="overflow: hidden">
						<img src="{{ module.logo }}" alt="" style="width:50px;height:50px;">{{ module.title }}
						<span class="del bg-default" ng-click="delHaveModule(module)">删除</span>
					</div>
					<div class="col-sm-2">
						<div class="we7-input-img input-more input-img">
							<a href="" class="input-addon" ng-click="addModule()">
								<span class="color-gray"></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel we7-panel">
			<div class="panel-heading">
				选择模板
			</div>
			<div class="panel-body we7-padding">
				<div class="row">
					<div class="col-sm-2 text-left" ng-repeat="template in groupHaveTemplate">
						<i class="glyphicon glyphicon-th-large"></i>
						<a href="">{{ template.title }}</a>
						<span class="del bg-default" ng-click="delHaveTemplate(template)">删除</span>
					</div>
					<div class="col-sm-2">
						<div class="we7-input-img input-more input-img">
							<a href="" class="input-addon" ng-click="adTemplate()">
								<span class="color-gray"></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="add_template"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog we7-modal-dialog" style="width:800px">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">添加模板(点击添加)</h4>
				</div>
				<div class="modal-body">
					<div class="panel-body we7-padding">
						<div class="row">
							<div class="col-sm-2 text-center we7-margin-bottom" ng-repeat="template in groupNotHaveTemplate" style="overflow: hidden" ng-click="addHaveTemplate(template)">
								<i class="glyphicon glyphicon-th-large"></i>
								<p class="text-over">{{ template.title }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="add_module"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog we7-modal-dialog" style="width:800px">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">添加模块(点击添加)</h4>
				</div>
				<div class="modal-body">
					<div class="panel-body we7-padding">
						<div class="row">
							<div class="col-sm-2 text-center we7-margin-bottom" ng-repeat="module in groupNotHaveModule" style="overflow: hidden" ng-click="addHaveModule(module)">
								<a href="">
									<img src="{{ module.logo }}" alt="" style="width:50px;height:50px;">
									<p class="text-over">{{ module.title }}</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<input type="form-control" class="btn btn-primary" name="" ng-click="saveGroup()" value="提交">
</div>
<script>
	angular.module('moduleApp').value('config', {
		'moduleGroup' : {php echo json_encode($module_group)},
		'groupHaveModule' : {php echo  json_encode($group_have_module)},
		'groupNotHaveModule' : {php echo  json_encode($group_not_have_module)},
		'groupHaveTemplate' : {php echo  json_encode($group_have_template)},
		'groupNotHaveTemplate' : {php echo  json_encode($group_not_have_template)},
		'url' : "{php echo url('system/module-group/save')}"
	});
	angular.bootstrap($('.js-modulegroup-post'), ['moduleApp']);
	$('[data-toggle="table-collapse"]').on('click',function(){
		var id = '[data-id="'+$(this).data('target')+'"]';
		$(id).collapse('toggle');
	});
</script>
{/if}
{template 'common/footer'}