{template 'common/header'}
<div class="right-contnt" ng-cloak>
	<div class="new-keyword">
		<ol class="breadcrumb we7-breadcrumb">
			<a href=""><i class="fa fa-chevron-circle-left"></i> </a>
			<li>
				<a href="{url 'platform/autoreply'}">自动回复管理</a>
			</li>
			<li>
				{if empty($rid)}<a href="{url 'platform/autoreply/post' array('m' => $m)}">新建{$module['title']}</a></li>{/if}
				{if !empty($rid)}<a href="{php echo url('platform/autoreply/post', array('m' => $m, 'rid' => $rid))}">编辑{$module['title']}</a></li>{/if}
			</li>
		</ol>
		{if $m == 'keyword'}
		<div class="we7-form" id="js-reply-form" ng-controller="replyForm">
			<form id="reply-form" action="{php echo url('platform/autoreply/post', array('m' => $m, 'rid' => $rid))}" method="post" enctype="multipart/form-data">
			<input type="hidden" name="rid" value="{$rid}" />
			<div class="form-group">
				<label for="" class="control-label">规则名称</label>
				<div class="form-controls">
					<input type="text" class="form-control" placeholder="请输入回复规则的名称" name="rulename" value="{if empty($reply['name']) && !empty($_GPC['name'])}{$_GPC['name']}{else}{$reply['name']}{/if}">
					<span class="help-block">您可以给这组触发关键字规则起一个名字, 方便下次修改和查看. </span>
				</div>
			</div>
			<div class="form-group">
				<label for="" class="control-label">全局置顶</label>
				<label class="radio-inline">
					<input type="radio" name="istop" ng-model="reply.entry.istop" style="display:block" ng-value="1" value="1" {if intval($reply['displayorder'] >= 255)} checked="checked"{/if}>是
				</label>
				<label class="radio-inline">
					<input type="radio" name="istop" ng-model="reply.entry.istop" style="display:block" ng-value="0" value="0" {if intval($reply['displayorder'] < 255)} checked="checked"{/if}>否
				</label>
			</div>
			<div class="form-group" ng-show="reply.entry.istop == 0">
				<label for="" class="control-label">回复优先级</label>
				<div class="form-controls">
				<input type="number" min="0" max="254" name="displayorder_rule" style="width:200px" value="{if intval($reply['displayorder']) < 255}{$reply['displayorder']}{/if}" placeholder="输入这条回复规则的优先级">
				<span class="help-block">
					规则优先级，越大则越靠前，最大不得超过254
				</span>
				</div>
			</div>
			<div class="form-group">
				<input type="hidden" name="keywords">
				<label for="" class="control-label">触发关键字</label>
				<div class="form-controls">
					<div class="form-inline">
						<select name="trigger_type" class="we7-select">
							<option value="exact">精准触发</option>
							<option value="indistinct" ng-selected="reply.advanceTrigger">模糊触发</option>
						</select>
						<input type="text" class="keyword-input form-control" max="30" id="keywordinput" ng-model="trigger.items.default" onblur="checkKeyWord($(this));">
						<span><a href="javascript:;" id="keyword-emoji"><i class="fa fa-github-alt"></i> 表情</a></span>
						<span class="help-block"></span>
					</div>
					<span class="help-block">多个关键字请使用逗号隔开，如天气，今日天气</span>
				</div>
				<div class="form-group advance-setting" ng-show="reply.advanceTrigger">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
					<div class="col-sm-9">
						<div class="panel panel-default tab-content">
							<div class="panel-heading">
								<ul class="nav nav-pills">
									<li class="active"><a href="#contains" role="tab" data-toggle="tab">包含关键字</a></li>
									<li><a href="#regexp" role="tab" data-toggle="tab">正则表达式模式匹配</a></li>
									<li><a href="#trustee" role="tab" data-toggle="tab">直接接管</a></li>
								</ul>
							</div>
							<ul class="tab-pane list-group active" id="contains">
								<li class="list-group-item row" ng-repeat="entry in trigger.items.contains">
									<div class="col-xs-12 col-sm-8">
										<input type="text" class="form-control keyword-input" ng-hide="entry.saved" placeholder="{{entry.label}}" ng-model="entry.content" onblur="checkKeyWord($(this));" />
										<span class="help-block"></span>
										<p class="form-control-static" ng-show="entry.saved" ng-bind="entry.content"></p>
									</div>
									<div class="col-sm-4">
										<div class="btn-group">
											<a href="javascript:;" class="btn btn-default" ng-click="trigger.saveItem(entry);">{{entry.saved ? '编辑' : '保存'}}</a>
											<a href="javascript:;" class="btn btn-default" ng-click="trigger.removeItem(entry);">删除</a>
										</div>
									</div>
								</li>
							</ul>
							<ul class="tab-pane list-group" id="regexp">
								<li class="list-group-item row" ng-repeat="entry in trigger.items.regexp">
									<div class="col-xs-12 col-sm-8">
										<input type="text" class="form-control keyword-input" ng-hide="entry.saved" placeholder="{{entry.label}}" ng-model="entry.content" onblur="checkKeyWord($(this));" />
										<span class="help-block"></span>
										<p class="form-control-static" ng-show="entry.saved" ng-bind="entry.content"></p>
									</div>
									<div class="col-sm-4">
										<div class="btn-group">
											<a href="javascript:;" class="btn btn-default" ng-click="trigger.saveItem(entry);">{{entry.saved ? '编辑' : '保存'}}</a>
											<a href="javascript:;" class="btn btn-default" ng-click="trigger.removeItem(entry);">删除</a>
										</div>
									</div>
								</li>
							</ul>
							<ul class="tab-pane list-group" id="trustee">
								<li class="list-group-item row" ng-repeat="entry in trigger.items.trustee">
									<div class="col-xs-12 col-sm-8">
										<p class="form-control-static">符合优先级条件时, 这条回复将直接生效</p>
									</div>
									<div class="col-sm-4">
										<a href="javascript:;" class="btn btn-default" ng-click="trigger.removeItem(entry);">取消接管</a>
									</div>
								</li>
							</ul>
							<div class="panel-footer">
								<a href="javascript:;" class="btn btn-default" ng-click="trigger.addItem();" ng-bind="'添加' + trigger.labels[trigger.active]"></a>
								<span class="help-block" ng-bind-html="trigger.descriptions[trigger.active]"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="" class="control-label">是否开启</label>
				<div class="form-controls">
					<label>
						<input name="status" class="form-control" ng-model="reply.status" ng-hide="1">
						<div class="switch" ng-class="{'switchOn': reply.status}" ng-click="trigger.changeStatus()"></div>
					</label>
					<span class="help-block">您可以选择临时禁用这条回复.</span>
				</div>
			</div>
			{php echo module_build_form('autoreply', $rid)}
			<input type="hidden" name="token" value="{$_W['token']}" />
			<input type="submit" name="submit" value="发&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;布" class="btn btn-primary we7-padding-horizontal" style="padding: 6px 50px;"/>
		</div>
		{/if}
		{if $m == 'apply'}
		<div ng-controller="applyReply">
			<div class="we7-step">
				<ul>
					<li class="active">
						1 选择应用 
					</li>
					<li>
						2 添加应用关键字
					</li>
				</ul>
			</div>
			<ul class="letters-list">
				<li ng-repeat="letter in alphabet" ng-style="{'background-color': letter == activeLetter ? '#ddd' : 'none'}" ng-class="{'active': letter == activeLetter}" ng-click="searchModule(letter)">
					<a href="javascript:;" ng-bind="letter"></a>
				</li>
			</ul>
			{if $moudles}
			<div class="keyword-app">
				<ul class="we7-list-group">
				{if $enable_modules}
					{loop $enable_modules $key $row}
					{if empty($current_user_permission_types) || in_array($key, $current_user_permission_types) || $row['issystem'] == 1}
					<li data-pinyin="{$row['title_first_pinyin']}" ng-show="activeLetter ? activeLetter == '{$row[title_first_pinyin]}' : '1'">
						<div class="we7-list-item">
							<span class="keyword-status" title="已启用"><i class="fa fa-2x fa-check-circle text-success"></i></span>
							<div class="keyword-app-info">
								<img src="{$row['icon']}" alt="{$row['title']}"/>
								<p>{$row['title']}</p>
								<a href="{if $row['type'] != 'system'}./index.php?c=home&a=welcome&do=ext&m={$row['name']}{else}./index.php?c=platform&a=autoreply{/if}" class="cover-dark">
									<span class="cover-circle">进入</span>
								</a>
							</div>
						</div>
					</li>
					{/if}
					{/loop}
				{/if}
				{if $unenable_modules}
					{loop $unenable_modules $key $row}
					<li data-pinyin="{$row['title_first_pinyin']}" ng-show="activeLetter == {$row['title_first_pinyin']}">
						<div class="we7-list-item">
							<span class="keyword-status" title="未启用"><i class="fa fa-2x fa-times-circle text-warning"></i></span>
							<div class="keyword-app-info">
								<img src="{$row['icon']}" alt="{$row['title']}"/>
								<p>{$row['title']}</p>
								<a href="{if $row['type'] != 'system'}./index.php?c=home&a=welcome&do=ext&m={$row['name']}{else}./index.php?c=platform&a=autoreply{/if}" class="cover-dark">
									<span class="cover-circle">进入</span>
								</a>
							</div>
						</div>
					</li>
					{/loop}
				{/if}
				</ul>
			</div>
			{/if}
		</div>
		{/if}
	</div>
</div>
<script>
require(['angular.sanitize', 'bootstrap', 'underscore', 'util'], function(angular, $, _, util){
	angular.module('replyFormApp').value('config', {
		replydata: {php echo json_encode($reply)},
		uniacid: {php echo json_encode($_W['uniacid'])},
	});
	angular.bootstrap(document, ['replyFormApp']);

	// 检测规则是否已经存在
	window.checkKeyWord = function(key) {
		var keyword = key.val().trim();
		if (keyword == '') {
			key.next().next().text('');
			return false;
		}
		var type = key.attr('data-type');
		var wordIndex = key.index('.keyword-input');
		var isLeagl = true;
		$('.keyword-input').each(function(index) {
			var currentWord = $(this).val().trim();
			if (keyword == currentWord && wordIndex != index) {
				isLeagl = false;
				return false;
			}
		});
		if (isLeagl === false) {
			key.next().next().text('');
			util.message('该关键字已重复存在于当前规则中.');
			return false;
		}

		$.post(location.href, {keyword:keyword}, function(resp){
			if(resp != 'success') {
				var rid = $('input[name="rid"]').val();
				var rules = JSON.parse(resp);
				var url = "{php echo url('platform/autoreply/post', array('m' => $_GPC['m']));}";
				var ruleurl = '';
				for (rule in rules) {
					if (rid != rules[rule].id) {
						ruleurl += "<a href='" + url + "&rid=" + rules[rule].id + "' target='_blank'><strong class='text-danger'>" + rules[rule].name + "</strong></a>&nbsp;";
					}
				}
				if (ruleurl != '') {
					key.next().next().html('该关键字已存在于 ' + ruleurl + ' 规则中.');
				}
			} else {
				key.next().next().text('');
			}
		});
	}
	$('.keyword-input').each(function() {
		$(this).attr('data-type', 'keyword');
	});
});
</script>
{template 'common/footer'}