{template 'common/header'}
<div class="right-contnt" id="main" ng-controller="materialDisplay" ng-cloak>
	<div class="material">
		<div class="we7-page-title">
			素材管理
		</div>
		<ul class="we7-page-tab">
			<li{if $type == 'news'} class="active"{/if}>
				<a href="{php echo url('platform/material', array('type' => 'news'))}">图文消息</a>
			</li>
			<li{if $type == 'image'} class="active"{/if}>
				<a href="{php echo url('platform/material', array('type' => 'image'))}">图片</a>
			</li>
			<li{if $type == 'voice'} class="active"{/if}>
				<a href="{php echo url('platform/material', array('type' => 'voice'))}">语音</a>
			</li>
			<li{if $type == 'video'} class="active"{/if}>
				<a href="{php echo url('platform/material', array('type' => 'video'))}">视频</a>
			</li>
		</ul>
		{if $type == 'news'}
		<div class="material-appmsg">
			<div class="material-list-head clearfix">
				<div class="info">
					<div class="we7-form">
						<div class="form-controls">
							<form action="{php echo url('platform/material/list', array('type' => 'news'))}" method="post">
								<input type="text" id="" name="title" class="form-control" size="40" value="{$_GPC['title']}" placeholder="标题/作者/摘要">
								<input type="submit" value="搜索">
							</form>
						</div>
					</div>
				</div>
				<div class="action">
					<a href="javascript:;" onclick="sync('news')" class="btn btn-default">同步微信</a>
					<div class="btn-group we7-btn-group we7-padding-left">
						<a href="{php echo url('platform/material_add')}" class="btn btn-primary">新建图文消息</a>
					</div>
				</div>
			</div>
			<div class="material-appmsg-list">
				{loop $material_list $material}
				<div class="material-appmsg-item{if !empty($material['items']['1'])} multi{/if}">
					<div class="appmsg-content">
						<div class="appmsg-info">
							<em class="appmsg-date">{php echo date('Y年m月d', $material['createtime'])}</em>
							{if $material['prompt_msg']}
							<div class="undone-tips">
								图文内容不完整
								<br> 请补全每一篇图文的封面图、标题和正文
							</div>
							{/if}
						</div>
						<div class="{if !empty($material['items']['1'])}cover-{/if}appmsg-item">
							<h4 class="appmsg-title">
								<a href="" target="-blank">{$material['items']['0']['title']}</a>
							</h4>
							<div class="appmsg-thumb" style="background-image:url('{php echo tomedia($material['items']['0']['thumb_url'])}')">
							</div>
							<p class="appmsg-desc">{$material['items']['0']['digest']}</p>
							<a href="" class="cover-dark">
								<div class="edit-mask-content">
									预览文章
								</div>
								<span class="vm-box"></span>
							</a>
						</div>
						{loop $material['items'] $key $material_row}
						{if !empty($key)}
						<div class="appmsg-item has-cover">
							{if !empty($material_row['thumb_url'])}
							<div class="appmsg-thumb" style="background-image:url('{php echo tomedia($material_row['thumb_url'])}">
							</div>
							{/if}
							<h4 class="appmsg-title">
								<a href="" target="-blank" >{$material_row['title']}</a>
							</h4>
							{if !empty($material_row['thumb_url'])}
							<a href="" class="cover-dark">
								<div class="edit-mask-content">
									<p class="">
										预览文章 </p>
								</div>
								<span class="vm-box"></span>
							</a>
							{/if}
						</div>
						{/if}
						{/loop}
					</div>
					<div class="appmsg-opr">
						<ul>
							<li class="appmsg-opr-item">
								<a href="{php echo url('platform/material_add/news', array('newsid' => $material['id']))}" class="">&nbsp;<i class="">编辑</i></a>
							</li>
							<li class="appmsg-opr-item">
								<a class="" href="javascript:void(0);" ng-click="del_material('{$material['media_id']}')">&nbsp;<i class="">删除</i></a>
							</li>
						</ul>
					</div>
				</div>
				{/loop}
			</div>
		</div>
		{elseif $type == 'image'}
		<div class="material-appmsg">
			<!--<div class="material-list-head clearfix">-->
				<!--<div class="action">-->
					<!--<a href="" class="btn btn-default">同步微信</a>-->
					<!--<a href="javascript:;" class="btn btn-primary" ng-click="">上传新图片</a>-->
				<!--</div>-->
			<!--</div>-->
			<ul class="material-img-list">
				{loop $image_list $image}
				<li class="material-img-item">
					<div class="img-item">
						<h4 class="img-title">
							<a href="" target="-blank">{$image['filename']}</a>
						</h4>
						<img class="img-thumb" src="{php echo tomedia($image['attachment'], true);}">
					</div>
					<!--<div class="img-opr">-->
						<!--<ul>-->
							<!--<li class="img-opr-item">-->
								<!--<a target="-blank" class="-" href="#">&nbsp;<i class="">编辑</i></a>-->
							<!--</li>-->
							<!--<li class="img-opr-item">-->
								<!--<a class="-" href="javascript:void(0);">&nbsp;<i class="">删除</i></a>-->
							<!--</li>-->
						<!--</ul>-->
					<!--</div>-->
				</li>
				{/loop}
			</ul>
		</div>
		{elseif $type == 'voice'}
		<div class="material-appmsg">
			<div class="material-list-head clearfix">
				<div class="info">
					<div class="we7-form">
						<div class="form-controls">
							<input type="text" id="" name="" class="form-control" size="40" placeholder="标题/作者/摘要">
							<span class="form-control-feedback"><i class="fa fa-search"></i></span>
						</div>
					</div>
				</div>
				<!--<div class="action">-->
					<!--<a href="" class="btn btn-default">同步微信</a>-->
					<!--<a href="" class="btn btn-primary">上传语音</a>-->
				<!--</div>-->
			</div>
			<ul class="material-audio-list">
				{loop $voice_list $voice}
				<li class="material-audio-item">
					<div class="audio-item AudioPlaying">
						<div class="icon-audio-wrp">
							<span class="icon-audio-msg"></span>
						</div>
						<div class="audio-content">
							<div class="audio-title">{$voice['attachment']}</div>
							<div class="audio-time">{php echo date('m月d日', $voice['createtime'])}</div>
							<div class="audio-length">{php echo date('h:i', $voice['createtime'])}</div>
						</div>
					</div>
					<!--<div class="audio-opr">-->
						<!--<ul>-->
							<!--<li class="audio-opr-item">-->
								<!--<a target="-blank" class="" href="#">&nbsp;<i class="">编辑</i></a>-->
							<!--</li>-->
							<!--<li class="audio-opr-item">-->
								<!--<a class="" href="javascript:void(0);">&nbsp;<i class="">删除</i></a>-->
							<!--</li>-->
						<!--</ul>-->
					<!--</div>-->
				</li>
				{/loop}
			</ul>
		</div>
		{elseif $type == 'video'}
		<div class="material-appmsg">
			<!--<div class="material-list-head clearfix">-->
				<!--<div class="action">-->
					<!--<a href="" class="btn btn-default">同步微信</a>-->
					<!--<a href="" class="btn btn-primary">上传视频</a>-->
				<!--</div>-->
			<!--</div>-->
			<ul class="material-img-list">
				{loop $video_list $video}
				<li class="material-img-item">
					<div class="img-item">
						<h4 class="img-title">
							<a href="" target="-blank">{$video['tag']['title']}</a>
						</h4>
						<div class="img-thumb" style="background-image:url('{php echo tomedia($video['attachment'])}')">

						</div>
					</div>
					<!--<div class="img-opr">-->
						<!--<ul>-->
							<!--<li class="img-opr-item">-->
								<!--<a target="-blank" class="-" href="#">&nbsp;<i class="">编辑</i></a>-->
							<!--</li>-->
							<!--<li class="img-opr-item">-->
								<!--<a class="" href="javascript:void(0);">&nbsp;<i class="">删除</i></a>-->
							<!--</li>-->
						<!--</ul>-->
					<!--</div>-->
				</li>
				{/loop}
			</ul>
		</div>
		{/if}
	</div>
</div>
{$pager}
<script>
	require(['jquery.wookmark'], function() {
		//同步素材
		angular.module('materialApp').value('config', {
			'del_url' : "{php echo url('platform/material/del_material')}"
		});
		angular.bootstrap($('#main'), ['materialApp']);
		sync = function(type, pageindex, total, wechat_existid) {
			if (pageindex == undefined) {
				util.message('正在同步素材，请勿关闭浏览器...');
			} else {
				util.message('已同步'+(parseInt(((pageindex-1)/total)*100))+'%，请勿关闭浏览器...');
			}
			$.post('{php echo url('platform/material/sync')}', {'type' : type, 'pageindex' : pageindex, 'total' : total, 'wechat_existid' : wechat_existid}, function(data) {
				data = $.parseJSON(data);
				if (data.message.errno == 0) {
					util.message('同步素材成功', '', 'success');
					location.reload();
				} else {
					sync_info = data.message.message;
					sync(type, sync_info.pageindex, sync_info.total, sync_info.wechat_existid);
				}

			});
		}
		$('.material-appmsg-list .material-appmsg-item').wookmark({
			align: 'center',
			autoResize: false,
			container: $('.material-appmsg-list'),
			itemWidth: 289,
			offset: 30
		});
	});
</script>
{template 'common/footer'}