{template 'common/header'}
{if $do == 'home' || $do == 'profile'}
{if $do == 'home'}
<div class="panel panel-warning">
	<div class="panel-body">
		当前使用的风格为：{$style['name']}，模板文件为：{$template['title']}（/app/themes/{$template['name']}）。{if !empty($template['sections'])}此模板提供 <span class="label label-warning">{$template['sections']}</span> 个导航位置，您可以指定导航在特定的位置显示，未指位置的导航将无法显示{else}此模板未提供导航位置功能{/if}
	</div>
</div>
{/if}

<table class="table we7-table table-hover" ng-show="!addHomemenuStatus">
	<col width="100px" />
	<col width="75px" />
	<col width="95px" />
	<col width="" />
	<tr>
		<th>标题</th>
		<th>图标</th>
		<th>是否显示</th>
		<th>操作</th>
	</tr>
	{loop $entries $menu}
	<tr ng-repeat="menu in homeMenu">
		<td class="title">{$menu['title']}</td>
		<td><div class="switch" ng-class="{'switchOn': menu.status == 1}" ng-click="updateMenu(menu, 'switch')"></div></td>
		<td class="edit">
			<a href="javascript:;">复制链接</a>
		</td>
	</tr>
	{/loop}
</table>
{/if}
{template 'common/footer'}
