{template 'common/header'}
	<ol class="breadcrumb we7-breadcrumb">
		<a href="{php echo url('account/manage', array('account_type' => ACCOUNT_TYPE))}"><i class="wi wi-back-circle"></i> </a>
		<li><a href="{php echo url('account/manage', array('account_type' => ACCOUNT_TYPE))}">小程序管理</a></li>
		<li>小程序设置</li>
	</ol>
	<div class="media media-wechat-setting">
		<a class="media-left">
			<span class="icon"><i class="wi wi-small-routine"></i></span>
			<img src="{$headimgsrc}" class="wechat-img">
		</a>
		<div class="media-body media-middle ">
			<h4 class="media-heading color-dark">{$account['name']}</h4>
			<span class="color-gray">小程序</span>
		</div>
		{if $state == ACCOUNT_MANAGE_NAME_FOUNDER || $state == ACCOUNT_MANAGE_NAME_OWNER}
		<div class="media-right media-middle">
			<a href="{php echo url('account/manage/delete', array('uniacid' => $_GPC['uniacid'], 'acid' => $_GPC['acid'], 'type' => $_GPC['account_type']))}" class="btn btn-primary" onclick="return confirm('确认放入回收站吗？')">停  用</a>
		</div>
		{/if}
	</div>
	<div class="clearfix"></div>
	<div class="btn-group we7-btn-group wechat-edit-group">
		{if $state == ACCOUNT_MANAGE_NAME_FOUNDER || $state == ACCOUNT_MANAGE_NAME_OWNER}
		<a href="{php echo url('account/post/base', array('uniacid' => $_GPC['uniacid'], 'acid' => $_GPC['acid'], 'account_type' => $_GPC['account_type']))}" class="btn btn-default {if $do == 'base'} active{/if}">基础信息</a>
		{/if}
		<a href="{php echo url('account/post-user/edit', array('uniacid' => $_GPC['uniacid'], 'acid' => $_GPC['acid'], 'account_type' => $_GPC['account_type']))}" class="btn btn-default {if $action == 'post-user' && $do == 'edit'} active{/if}">使用者管理</a>
		<a href="{php echo url('wxapp/manage/display', array('uniacid' => $_GPC['uniacid'], 'acid' => $_GPC['acid'], 'account_type' => ACCOUNT_TYPE_APP_NORMAL))}" class="btn btn-default {if $action == 'manage' && $do == 'display'} active{/if}">版本管理</a>
	</div>
	
	<div id="js-account-manage-wxapp" ng-controller="AccountManageWxappCtrl" ng-cloak>
		<!--版本管理-->
		{if !empty($version_exist) && ($version_exist['design_method'] != 3 || ((!empty($version_exist['multiid']) || !empty($version_exist['template']) || !empty($version_exist['quickmenu'])) && $version_exist['design_method'] == 3))}
		<div class="version-management">
			<div class="text-right">
				<a href="{php echo url('wxapp/post', array('uniacid' => $uniacid))}" class="btn btn-primary">新建版本</a>
			</div>
			<div class="wxapp-version-list clearfix">
				{loop $wxapp_version_lists $list}
				<div class="item">
					<div class="version-num">
						V{$list['version']}
					</div>
					<div class="version-img">
						<img src="./resource/images/173.png"/>
					</div>
					<div class="cover-dark">
						<a href="{php echo url('wxapp/version/edit', array('uniacid' => $list['uniacid'], 'multiid' => $list['multiid'], 'version_id' => $list['id']))}" class="manage-fa"><i class="fa fa-angle-right"></i></a>
						<a href="{php echo url('wxapp/version/edit', array('uniacid' => $list['uniacid'], 'multiid' => $list['multiid'], 'version_id' => $list['id']))}" class="manage">管理</a>
						<a href="{php echo url('wxapp/manage/getpackage', array('uniacid' => $list['uniacid'], 'versionid' => $list['id']))}" class="manage-fa-down" title="下载"><i class="wi wi-down-sign"></i></a>
						<a href="{php echo url('wxapp/manage/getpackage', array('uniacid' => $list['uniacid'], 'versionid' => $list['id']))}" class="manage-down" title="下载">下载</a>
						<a href="{php echo url('wxapp/manage/delete', array('uniacid' => $list['uniacid'], 'id' => $list['id']))}" class="manage-fa-del"><i class="wi wi-delete2"></i></a>
						<a href="{php echo url('wxapp/manage/delete', array('uniacid' => $list['uniacid'], 'id' => $list['id']))}" class="manage-del">删除</a>
					</div>
				</div>
				{/loop}
			</div>
		</div>
		<!--end 版本管理-->
		{else}
		<!-- 可用小程序模块 -->
		<div class="text-right we7-margin-bottom">
			<a href="javascript:;" class="btn btn-primary"  ng-click="showWxModules()">新建模块版本</a>
		</div>
		<table class="table we7-table table-hover">
			<col width="80px"/>
			<col width=""/>
			<col width="170px"/>
			<tr ng-if="version_exist" ng-repeat="version_info in wxapp_version_lists">
				<td class="vertical-middle">
					<img src="{{version_info.modules.module_info.logo}}">
				</td>
				<td class="text-left">
					<div class="we7-form reply-item-keyword">
						<div class="form-inline">
							<label for="" class="control-label col-sm-2">模块名：</label>
							<div class="form-controls form-control-static">
								<span class="keyword-tag" ng-bind="version_info.modules.module_info.title"></span>
							</div>
							<div class="form-inline">
							<label for="" class="control-label col-sm-2">版本：</label>
							<div class="form-controls form-control-static">
								<span ng-bind="version_info.modules.module_info.version"></span>
							</div>
						</div>
					</div>
				</td>
				<td class="vertical-middle text-left">
					<div class="link-group">
						<a ng-href="index.php?c=wxapp&a=manage&do=getpackage&uniacid={{version_info.uniacid}}&versionid={{version_info.id}}">下载</a>
						<a href="javascript:;" class="del" ng-click="delWxModule(version_exist.id, version_info.modules.name)">删除</a>
					</div>
				</td>
			</tr>
			<tr ng-if="!version_exist">
				<td colspan="3">
					<span>暂无数据</span>
				</td>
			</tr>
		</table>
		<div class="modal fade" id="module_wxapp"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog we7-modal-dialog" style="width:800px">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title">选择小程序</h4>
					</div>
					<div class="modal-body">
						<div class="panel-body we7-padding">
							<div class="row">
								<div class="col-sm-2 text-center we7-margin-bottom select-module-wxapp" ng-repeat="module in wxapp_modules" ng-if="wxapp_modules">
									<a href="javascript:;" ng-click="selectedWxModule(module, $event)">
										<img src="{{module.logo}}" style="width:50px;height:50px;">
										<p class="text-over">{{module.title}}</p>
									</a>
									<span id="module-{{module.name}}" class="selected hide" style="position:absolute;width:82%;height:100%;left:10px;top:0;opacity:0.8;cursor:pointer;background:#e7e8eb; vertical-align:middle;font-size:30px"><i class="wi wi-right-sign color-green" style="margin-top:25px"></i></span>
								</div>
								<div class="text-center" ng-if="!wxapp_modules">
									<span>暂无可用模块</span>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer" ng-if="wxapp_modules">
						<button type="button" class="btn btn-primary" ng-click="addWxModules()">确定</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					</div>
				</div>
			</div>
		</div>
		{/if}
		<!--end 可用小程序模块 -->
	</div>
</div>
<script>
	angular.module('wxApp').value('config', {
		'account': {php echo !empty($account) ? json_encode($account) : 'null'},
		'wxapp_version_lists': {php echo !empty($wxapp_version_lists) ? json_encode($wxapp_version_lists) : 'null'},
		'wxapp_modules' : {php echo !empty($wxapp_modules) ? json_encode($wxapp_modules) : 'null'},
		'version_exist': {php echo !empty($version_exist) ? json_encode($version_exist) : 'null'},
		'links': {
			'editmodule': "{php echo url('wxapp/manage/add_module_version', array('acid' => $account['acid'], 'uniacid' => $account['uniacid']))}",
			'delmodule': "{php echo url('wxapp/manage/del_module_version', array('acid' => $account['acid'], 'uniacid' => $account['uniacid']))}",
		},
	});
	angular.bootstrap($('#js-account-manage-wxapp'), ['wxApp']);
</script>
{template 'common/footer'}