{template 'common/header'}
<ul class="we7-page-tab">
	<li {if empty($type)}class="active" {/if} ><a href="{php echo url('message/notice')}">全部</a></li>
	<!-- xstart -->
	{if IMS_FAMILY == 'x'}
		{if $_W['isfounder'] && uni_user_see_more_info(ACCOUNT_MANAGE_NAME_VICE_FOUNDER, false)}
		<li {if $type == MESSAGE_ORDER_TYPE}class="active" {/if}><a href="{php echo url('message/notice', array('type' => MESSAGE_ORDER_TYPE))}">订单消息</a></li>
		{/if}
	{/if}
	<!-- xend -->
	<li {if $type == MESSAGE_ACCOUNT_EXPIRE_TYPE}class="active" {/if}><a href="{php echo url('message/notice', array('type' => MESSAGE_ACCOUNT_EXPIRE_TYPE))}">到期消息</a></li>
	<!-- xstart -->
	{if IMS_FAMILY == 'x'}
	{if $_W['isfounder'] && uni_user_see_more_info(ACCOUNT_MANAGE_NAME_VICE_FOUNDER, false)}
	<li {if $type == MESSAGE_REGISTER_TYPE}class="active" {/if}><a href="{php echo url('message/notice', array('type' => MESSAGE_REGISTER_TYPE))}">注册提醒</a></li>
	<li {if $type == MESSAGE_WORKORDER_TYPE}class="active" {/if} ><a href="{php echo url('message/notice', array('type' => MESSAGE_WORKORDER_TYPE))}">工单提醒</a></li>
	{/if}
	{/if}
	<!-- xend -->
	<!-- svstart -->
	{if IMS_FAMILY == 's' || IMS_FAMILY == 'v'}
	{if $_W['isfounder']}
	<li {if $type == MESSAGE_REGISTER_TYPE}class="active" {/if}><a href="{php echo url('message/notice', array('type' => MESSAGE_REGISTER_TYPE))}">注册提醒</a></li>
	<li {if $type == MESSAGE_WORKORDER_TYPE}class="active" {/if} ><a href="{php echo url('message/notice', array('type' => MESSAGE_WORKORDER_TYPE))}">工单提醒</a></li>
	{/if}
	{/if}
	<!-- svend -->
</ul>

<div id="message-notice"  ng-controller="messageNoticeCtrl" ng-cloak>
	<div class="form-group">
		<div class="form-controls col-sm-3">
			<select class="we7-select form-control" ng-change="changeRead()" ng-model="is_read">
				<option ng-selected="is_read == 0" ng-value="0">全部消息</option>
				<option ng-selected="is_read == 2" ng-value="2">已读消息</option>
				<option ng-selected="is_read == 1" ng-value="1">未读消息</option>

				<!--<option value="0">全部消息</option>-->
				<!--<option value="2">已读消息</option>-->
				<!--<option value="1">未读消息</option>-->
			</select>
		</div>
		<div class="btn-group we7-btn-group we7-padding-bottom" style="float: right;">
			<a href="javascript:;" ng-click="allRead()" class="btn">已读所有消息</a>
		</div>
	</div>
<table class="table we7-table table-hover vertical-middle" >
	<col>
	<col>
	<col>

	<tr>
		<th>标题内容</th>
		<th class="text-center">提交时间</th>
		<th class="text-right">操作</th>
	</tr>
	<tr ng-repeat="list in lists">
		<td class="tip-before unread" ng-if ="list.is_read == 1" ng-bind="list.message"></td>
		<td class="tip-before " ng-if ="list.is_read == 2" ng-bind="list.message"></td>
		<td class="text-muted text-center" ng-bind = "list.create_time"></td>
		<td>
			<div class="link-group">
				<!-- sxstart -->
				{if IMS_FAMILY == 's' || IMS_FAMILY == 'x'}
				<a ng-href="{{list.url}}" ng-if="list.type==1">查看我的订单</a>
				{/if}
				<!-- sxend -->
				<a ng-href="{{list.url}}" ng-if="list.type==3">进入工单</a>
				<a ng-href="{{list.url}}" ng-if="list.type==2">查看公众号</a>
				<a ng-href="{{list.url}}" ng-if="list.type==5">查看小程序</a>
				<a ng-href="{{list.url}}" ng-if="list.type==6">查看pc</a>
				<a ng-href="{{list.url}}" ng-if="list.type==4 && list.status==1">查看我的待审核用户</a>
				<a ng-href="{{list.url}}" ng-if="list.type==7">查看我的账号</a>
			</div>
		</td>
	</tr>
</table>

</div>
<div class="text-right we7-margin-top">
	{$pager}
</div>
<script type="text/javascript">
	angular.module('messageApp').value('config', {
		'type' : '{php echo $type}',
		'lists': {php echo !empty($lists) ? json_encode($lists) : 'null'},
		'is_read' : "{$is_read}",
		'read_url' : "{php echo url('message/notice/read_display')}",
		'all_read_url' : "{php echo url('message/notice/all_read')}",
	});
	angular.bootstrap($('#message-notice'), ['messageApp']);
</script>
{template 'common/footer'}