{template 'common/header'}
<div class="js-system-module-detail">
	<ol class="breadcrumb we7-breadcrumb">
		<a href="{php echo referer()}"><i class="wi wi-back-circle"></i> </a>
		<li>
			应用列表
		</li>
		<li>
			应用管理
		</li>
	</ol>
	<div class="module-info media">
		<a class="pull-left" href="#">
			<img src="{php echo tomedia($module_info['logo'])}" style="width: 80px;height: 80px;" class="info-logo">
		</a>
		<div class="pull-right info-edit">
			<a href="" class="data color-gray hidden">到期时间 :2016/12/26 </a>
			<a href="#" class="btn btn-primary" data-toggle="modal" ng-if="isFounder == 1" ng-click="editModule('{$module_info['mid']}')">编 辑</a>
			<a href="" class="btn btn-danger" ng-if="isFounder == 1">升级</a>
		</div>
		<div class="media-body">
			<h4 class="media-heading">{$module_info['title']}</h4>
		</div>
	</div>
	<div class="module-description">
		<dl class="description">
			<dt><i class="wi wi-appsetting"></i>功能介绍 </dt>
			<dd>
				{$module_info['description']}
			</dd>
		</dl>
		<dl class="copyright" ng-if="isFounder == 1">
			<dt><i class="wi wi-appsetting"></i>版权信息  </dt>
			<dd>
				<span>名称：{$module_info['title']}</span>  <span>版本：{$module_info['version']}</span>  <span> 作者：{$module_info['author']}</span>
			</dd>
			<!--<dd>-->
			<!--<span>QQ:361635464</span>  <span>微信：3513854324</span>-->
			<!--</dd>-->
		</dl>
	</div>
	<div class="module-group" ng-if="isFounder == 1">
		<table class="table we7-table table-hover">
			<col />
			<col width="115px" />
			<tr>
				<th class="text-left">
					应用权限组
				</th>
				<th>
					<a href="{php echo url('system/module_group/post')}" class="color-default">添加</a>
				</th>
			</tr>
			<tr>
				<td class="text-left">
					<span>所有服务</span>
				</td>
				<td>
				</td>
			</tr>
			{loop $module_group $group}
			<tr>
				<td class="text-left">
					<span>{$group['name']}</span>
				</td>
				<td>
					<a href="{php echo url('system/module_group/post', array('id' => $group['id']))}" class="color-default">设置</a>
				</td>
			</tr>
			{/loop}
		</table>
	</div>
	{if !empty($module_subscribes)}
	<div class="panel we7-panel module-subscription" ng-if="isFounder == 1">
		<div class="panel-heading ">
			订阅详情
			<div class="pull-right subscription-switch">
				<span >禁用/开启</span>
				<label>
					<input name="" id="" class="form-control" type="checkbox"  style="display: none;">
					<div class="switch" ng-class="{ 'switchOn' : receive_ban == 1}" ng-click="changeSwitch()"></div>
				</label>
			</div>
		</div>
		<div class="panel-body">
			<ul>
				{loop $module_subscribes $subscribe}
				<li>{$mtypes[$subscribe]} {if $check_subscribe == 0}<lable class="label label-danger">通讯失败</lable>{/if}  </li>
				{/loop}
			</ul>
		</div>
	</div>
	{/if}
</div>
{template 'common/footer'}
