{template 'common/header'}
<ol class="breadcrumb we7-breadcrumb">
	<a href="{url 'user/display'}"><i class="fa fa-chevron-circle-left"></i> </a>
	<li>
		用户管理
	</li>
	<li>
		用户详情
	</li>
</ol>
<div class="user-head-info we7-padding-bottom" >
		<img src="../../../pros/web/resource/images/9.png"  class="img-circle user-avatar pull-left" alt="用户头像" />
		<h3 class="pull-left">{$user['username']}</h3>
		<div class="user-edit pull-right">
			<a href="" class="btn btn-primary">编辑</a>
			<a href="" class="btn btn-default">删除</a>
		</div>
	</div>
	<div class="btn-group we7-btn-group we7-padding-bottom">
		<a href="" class="btn btn-default active">基础信息</a>
		<a href="" class="btn btn-default">应用魔板权限</a>
		<a href="" class="btn btn-default">使用公众号列表</a>
	</div>
	<table class="table we7-table table-form">
		<col width="140px " />
		<col />
		<col width="100px" />
		<tr>
			<th class="text-left" colspan="3">账户设置设置</th>
		</tr>
		<tr class="hide">     
			<td class="table-label">
				头像
			</td>
			<td>
				<img src="../../../pros/web/resource/images/9.png"  class="img-circle" alt="用户头像" width="65px" height="65px" />
			</td>
			<td>
				<a href="javascript:;" class="color-default hide" data-toggle="modal" data-target="#avatar">修改</a>
			</td>
		</tr>
		<tr>
			<td class="table-label">
				用户名
			</td>
			<td>
				{$user['username']}
			</td>
			<td>
				<a href="javascript:;" class="color-default hide" data-toggle="modal" data-target="#name">修改</a>
			</td>
		</tr>
		<tr>
			<td class="table-label">
				密码
			</td>
			<td>
				******
			</td>
			<td>
				<a href="javascript:;" class="color-default" data-toggle="modal" data-target="#pass">修改</a>
			</td>
		</tr>

	</table>
	<div class="modal fade" id="pass" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="we7-modal-dialog modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<div class="modal-title">修改密码</div>
				</div>
				<div class="modal-body text-center">
					<div class="we7-form" style="width: 300px;">
						<div class="form-group">
							<label for="" class="control-label">原密码</label>
							<div class="form-controls">
								<input type="password" id="oldpassword" name="oldpassword" ng-model="userOldPassword" class="form-control" placeholder="">
							
							</div>
						</div>
						<div class="form-group">
							<label for="" class="control-label">新密码</label>
							<div class="form-controls">
								<input type="password" id="newpassword" name="newpassword"  ng-model="userNewPassword" class="form-control" placeholder="">
								
							</div>
						</div>
						<div class="form-group">
							<label for="" class="control-label">确认新密码</label>
							<div class="form-controls">
								<input type="password" id="rnewpassword" name="rnewpassword" ng-model="userRNewPassword" class="form-control" placeholder="">
								
							</div>
						</div>
					</div>
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">确定</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
<div id = "userbase">
{if $extendfields}
	<table class="table we7-table table-form">
		<col width="140px " />
		<col />
		<col width="100px" />
		<tr>
			<th class="text-left" colspan="3">基础信息</th>
		</tr> 
{loop $extendfields $item}
		{if $item['field']=='birthyear'}	
		<tr>
			<td class="table-label">
				{$item['title']}
			</td>
			<td>
				{php echo tpl_fans_form($item['field'],$user['profile']['birth']);}
			</td>
			<td>
				<a href="javascript:;" class="color-default" data-toggle="modal" data-target="#{$item['field']}">修改</a>
			</td>
			<div class="modal fade" id="{$item['field']}" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="we7-modal-dialog modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							<div class="modal-title">出生日期</div>
						</div>
						<div class="modal-body">
							{php echo tpl_fans_form($item['field'],$user['profile']['birth']);}
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary">确定</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						</div>
					</div>
				</div>
			</div>
		</tr>
		{elseif $item['field']=='resideprovince'}
		<tr>
			<td class="table-label">
				{$item['title']}
			</td>
			<td>
				{php echo tpl_fans_form($item['field'],$user['profile']['reside']);}
			</td>
			<td>
				<a href="javascript:;" class="color-default" data-toggle="modal" data-target="#{$item['field']}">修改</a>
			</td>
			<div class="modal fade" id="{$item['field']}" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="we7-modal-dialog modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							<div class="modal-title">居住地址</div>
						</div>
						<div class="modal-body">
							{php echo tpl_fans_form($item['field'],$user['profile']['reside']);}
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary">确定</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						</div>
					</div>
				</div>
			</div>
		</tr>
		{else}
		<tr>
			<td class="table-label">
				{$item['title']}
			</td>
			<td>
				{$user['profile'][$item['field']]}
			</td>
			<td>
				<a href="javascript:;" class="color-default" data-toggle="modal" data-target="#{$item['field']}">修改</a>
			</td>
			<div class="modal fade" id="{$item['field']}" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="we7-modal-dialog modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							<div class="modal-title">{$item['title']}</div>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<input type="text" name="{$item['field']}" ng-model="{$item['field']}" class="form-control" placeholder="{$item['title']}" />
								<span class="help-block"></span>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" ng-click="editInfo("{$item['field']}")>确定</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						</div>
					</div>
				</div>
			</div>
		</tr>
		{/if}
{/loop}
				<tr>
			<td class="table-label">
				服务时间
			</td>
			<td>
				{php echo date('Y-m-d', $user['starttime'])}
				~~
				{if empty($user['endtime'])}
					永久有效
				{else}
					{php echo date('Y-m-d', $user['endtime'])}
				{/if}
			</td>
			<td>
				<a href="javascript:;" class="color-default " data-toggle="modal" data-target="#name">修改</a>
			</td>
		</tr>
		{if $user['role'] != 'founder'}
		<tr>
			<td class="table-label">
				用户权限组
			</td>
			<td>
			{$user['groupname']}
			</td>
			<td>
				<a href="javascript:;" class="color-default hide" data-toggle="modal" data-target="#name">修改</a>
			</td>
		</tr>
		{/if}
		<tr>
			<td class="table-label">
				上次登录时间
			</td>
			<td>
				{php echo date('Y-m-d h:s:i',$user['lastvisit'])}
			</td>
			<td>
				<a href="javascript:;" class="color-default hide" data-toggle="modal" data-target="#name">修改</a>
			</td>
		</tr>
		<tr>
			<td class="table-label">
				上次登录ip
			</td>
			<td>
				{$user['lastip']}
			</td>
			<td>
				<a href="javascript:;" class="color-default hide" data-toggle="modal" data-target="#name">修改</a>
			</td>
		</tr>
		
	</table>
	</div>
{/if}
{template 'common/footer'}