{template 'common/header'}
<div class="we7-page-title">用户管理 </div>
<ul class="we7-page-tab">
	<li><a href="{url 'user/display'}">用户管理</a></li>
	<li><a href="{php echo url('user/display', array('status' => 1))}">审核用户</a></li>
	<li class="active"><a href="{url 'user/recycle/display'}">用户回收站</a></li>
	<li><a href="{url 'user/fields/display'}">用户属性设置</a></li>
	<li><a href="{url 'user/registerset'}">用户注册设置</a></li>
</ul>
<div class="keyword-list-head clearfix we7-margin-bottom">
	<form action="" method="get">
		<input type="hidden" name="c" value="user">
		<input type="hidden" name="a" value="recycle">
		<input type="hidden" name="do" value="display">
		<div class="input-group pull-left" style="width: 400px;">
			<input type="text" name="username" value="{$_GPC['username']}" class="form-control" placeholder="搜索用户名"/>
			<span class="input-group-addon"><button class="button"><i class="fa fa-search"></i></button></span>
		</div>
	</form>
</div>
<table class="table we7-table" id="js-recycle-display" ng-controller="RecycleDisplay" ng-cloak>
	<col width="100px"/>
	<col width="110px"/>
	<col width="110px"/>
	<col width="110px"/>
	<col width="66px"/>
	<col width="111px"/>
	<col width="203px"/>
	<tr>
		<th class="text-left">用户名</th>
		<th>用户权限组</th>
		<th>创建公众号</th>
		<th>使用公众号</th>
		<th>应用</th>
		<th>到期时间</th>
		<th class="text-left">操作</th>
	</tr>
	
	<tr ng-repeat="user in users">
		<td class="text-left" ng-bind="user.username">{$user['username']}</td>
		<td><span class="color-default">
					<span class="color-default" ng-if="user.founder">管理员</span>
					<span class="color-default" ng-if="user.groupname" ng-bind="user.groupname"></span>
					<span class="color-default" ng-if="!user.groupname">未分配</span>
			</span>
		</td>
		<td class="color-default" ng-bind="user.maxaccount"></td>
		<td class="color-default" ng-bind="user.uniacid_num"></td>
		<td class="color-default">
			<span ng-if="!user.founder" ng-bind="user.module_nums"></span>
			<span ng-if="user.founder">全部</span>
		</td>
		<td>
			<span ng-bind="user.endtime"></span>
		</td>
		<td class="text-left">
			<div class="link-group" ng-if="!user.founder">
				<a href="javascript:;" ng-click="restore(user.uid);">启用</a>
				<a href="javascript:;" ng-click="del(user.uid);">删除</a>
			</div>
		</td>
	</tr>
</table>
<div class="pull-right">
	{$pager}
</div>
<script type="text/javascript">
	angular.module('userManageApp').value('config', {
		users: {php echo !empty($users) ? json_encode($users) : 'null'},
		usergroups: {php echo !empty($usergroups) ? json_encode($usergroups) : 'null'},
		links: {
			recycleDel: "{php echo url('user/recycle/delete')}",
			recycleRestore: "{php echo url('user/recycle/restore')}",
		},
	});
	angular.bootstrap($('#js-recycle-display'), ['userManageApp']);
</script>
{template 'common/footer'}
