{template 'common/header'}
<ul class="we7-page-tab">
	<li class="active"><a href="{url 'statistics/account-analysis'}">访问统计信息</a></li>
</ul>
<div class="api">
	<div class="panel we7-panel api-target">
		<div class="panel-heading">今日/昨日关键指标</div>
		<div class="panel-body we7-padding-vertical">
			<div class="col-sm-4 text-center">
				<div class="title">公众号总访问数</div>
				<div>
					<span class="today">{$today_module_api['visit_sum']}</span>
					<span class="yesterday">/ {$yesterday_module_api['visit_sum']}</span>
				</div>
			</div>
			<div class="col-sm-4 text-center">
				<div class="title">公众号平均访问数</div>
				<div>
					<span class="today">{$today_module_api['visit_avg']}</span>
					<span class="yesterday">/ {$yesterday_module_api['visit_avg']}</span>
				</div>
			</div>
			<div class="col-sm-4 text-center">
				<div class="title">公众号最高访问数</div>
				<div>
					<span class="today">{$today_module_api['visit_highest']}</span>
					<span class="yesterday">/ {$yesterday_module_api['visit_highest']}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="panel we7-panel" id="js-system-account-analysis" ng-controller="systemAccountAnalysisCtrl" ng-cloak>
		<div class="panel-heading tab">
			<a href="javascript:;">关键指标详解</a>
			<a href="javascript:;" class="active">总访问数</a>
			<a href="javascript:;" class="hidden">平均访问数</a>
			<a href="javascript:;" class="hidden">最高访问数</a>
		</div>
		<div class="panel-body data-view">
			<div class="tab-bar-time clearfrix">
				<span class="we7-margin-right">时间</span>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default" ng-class="{'active': type == 'week'}" ng-click="getModuleApi('week')">周统计</button>
					<button type="button" class="btn btn-default" ng-class="{'active': type == 'month'}" ng-click="getModuleApi('month')">月统计</button>
					<div class="btn-group" role="group">
						{php echo tpl_form_field_daterange('datelimit', array('start' => $_GPC['datelimit']['start'],'end' => $_GPC['datelimit']['end']), false)}
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<canvas class="chart chart-horizontal-bar " chart-options="options" chart-data="data" chart-labels="labels" chart-colors="colors" height="{{height}}"></canvas>
			</div>
		</div>
	</div>
</div>
<script>
require(['angular-chart'], function() {
	angular.module('statisticsApp').value('config', {
		'links': {
			'moduleApi': "{php echo url('statistics/app/get_module_api')}",
		},
	});
	angular.module('statisticsApp').controller('systemAccountAnalysisCtrl', ['$scope', '$http', 'config', function($scope, $http, config){
		$scope.type = 'month';
		$scope.getModuleApi = function(type) {
			$scope.type = type;
		};
		$scope.httpRequest = function(argument) {
			// body...
		}
	}])
	angular.bootstrap($('#js-system-account-analysis'), ['statisticsApp']);
})
</script>
{template 'common/footer'}